<!-- 购物车 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车</title>
</head>
<body>
    <div id="app">
        <div>
            课程: <input type="text" v-model="course" autofocus>
            价格: <input type="text" v-model="price">
            <button @click="addCourse">添加</button>
        </div>
        <ul>
            <li v-for="(list, index) in courseList" :key="index">
                {{ list.text }}---￥{{ list.price }}
                <button @click="addToCart(index)">添加到购物车</button>
            </li>
        </ul>
        <!-- 购物车组件 -->
        <cart :cartarr="cartList"></cart>
    </div>
    <script src="vue.js"></script>
    <script>
        var Cart = {
            template: `
                <div >
                    <div>购物车</div>
                    <table border="1"> 
                        <tr>
                            <th>选中</th>
                            <th>课程</th>
                            <th>数量</th>
                            <th>价格</th>
                        </tr>
                        <tr v-for="(list,index) in cartarr">
                            <td><input type="checkbox" v-model="list.checked"></td>
                            <td>{{ list.text }}</td>
                            <td>
                                <span @click="reduce(index)">-</span>
                                {{ list.count }}
                                <span @click="add(index)">+</span>
                            </td>
                            <td>{{ list.price * list.count  }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">选中课程: {{ checkedCourse }}/{{ totalCourse }}</td>
                            <td colspan="2">需付金额: {{ totalPrice }}</td>
                        </tr>
                    </table> 
                </div>
            `,
            props: ['cartarr'],                         //接受父组件传过来的值
            computed: {
                checkedCourse(){
                    return this.cartarr.filter(item => item.checked).length
                },
                totalCourse(){
                    return this.cartarr.length
                },
                totalPrice(){
                    let sum = 0
                    this.cartarr.forEach(item => {
                        if(item.checked){
                            sum+=item.price * item.count
                        }
                    })
                    return sum
                }
            },
            methods: {
                //加数量
                add(index){
                    this.cartarr[index].count++
                },
                //减数量
                reduce(index){
                    if(this.cartarr[index].count > 1){
                        this.cartarr[index].count--
                    }else{
                        window.confirm(`确定要删除${this.cartarr[index].text} ?`) ? this.cartarr.splice(index,1) : ''
                    }
                }
            },
            //监听购物车数据变化
            watch: {
                cartarr: {
                    handler(){
                        //本地存储数据
                        window.localStorage.setItem('cart',JSON.stringify(this.cartarr))
                    }
                }
            },
        }
        new Vue({
            el: '#app',
            components: {
                Cart
            },
            data(){
                return {
                    course: '',
                    price: '',
                    //课程清单
                    courseList: [
                        {text: "SpringCloud",price: "10"},
                        {text: "SpringBoot2.0",price: "20"},
                        {text: "vue基础篇",price: "30"},
                        {text: "vue实战",price: "40"},
                    ],
                    //购物车清单
                    cartList: []
                }
            },
           
            methods: {
                //添加课程
                addCourse(){
                    this.courseList.push({text: this.course,price: this.price})
                    //将商品添加框 重置为空
                    this.course = ''
                    this.price = ''
                },
                 //加入购物车
                 addToCart(index){
                    const goods = this.courseList[index]
                    const result = this.cartList.find(item => item.text == goods.text)              //返回的是一个对象
                    if(result){
                        this.cartList[index].count++
                    }else{
                        this.cartList.push({...goods,count: '1',checked: true})
                    }
                },
        
            },
            created() {
                //从 本地存储 获取数据
                this.cartList = JSON.parse(window.localStorage.getItem('cart'))
            },
        })
    </script>
</body>
</html>